[submodule "services/SimpleService"]
	path = services/SimpleService
	url = https://github.com/Japik-org/SimpleService
[submodule "services/TestService"]
	path = services/TestService
	url = https://github.com/Japik-org/TestService
[submodule "Japik"]
	path = Japik
	url = https://github.com/Japik-org/Japik.git
[submodule "modules/TestModule"]
	path = modules/TestModule
	url = https://github.com/Japik-org/TestModule
